ejercicio 1/ej_esq_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="escritores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="escritor" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name = "nombre" type = "xs:string"/>
              <xs:element name = "nacimiento" type = "xs:string"/>
          </xs:all>    
         </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
