ejercicio 1/ej_esq_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="sistemaSolar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cuerpo" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cuerpo">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="planeta" type="xs:string"/>
        <xs:element name="satelite" type="xs:string"/>
        <xs:element name="asteroide" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
