ejercicio 1_1/sch-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="marcadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="marcador" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marcador">
<xs:complexType>
<xs:sequence>
<xs:element name="nombre" type="xs:normalizedString"/>
<xs:element name="uri" type="xs:anyURI"/>
</xs:sequence>
</xs:complexType>  
  </xs:element>
</xs:schema>
