ejercicio 1_1/sch-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="aeropuertos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aeropuerto" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aeropuerto">
<xs:complexType>
<xs:sequence>
<xs:element name="nombre" type="xs:string"/>
<xs:element ref="cerrado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>  
</xs:element>
<!--- CERRADO es un elemento vacío-->
<xs:element name="cerrado">
<xs:complexType/>
</xs:element>
</xs:schema>
