ejercicio 1_1/sch-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="vuelos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vuelo" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vuelo">
    <xs:complexType>
      <xs:all> <!-- ALL es más adecuado aunque con CHOICE sea válido-->
        <xs:element name="destino" type="xs:string"/>
        <xs:element name="origen" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
